<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PUDO App</title>
  <link rel="stylesheet" href="css/pudo_app.css" />
</head>
<body>
  <header>
    <div class="row">
      <div class="pudo-app-title">PUDO App (UI)</div>
      <div class="pudo-app-spacer"></div>
      <a href="/">Accueil</a>
      <a href="/items" class="pudo-app-link">Items</a>
      <a href="/downloads" class="pudo-app-link">Téléchargements</a>
    </div>
  </header>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
